<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <p>admins list </p>
    <ul>
      <% var a = 0 %>
      <% for(var id in adminlist) { %>
        <% for(var userid in users) { %>
              <% if (adminlist[id].username === users[userid].username){ %>
                <li><%= users[userid].username + "[online] <<<"%></li>
                     <% a++ %>
              <% } %>
              <% if (adminlist[id].username !== users[userid].username){ %>
              <li><%= adminlist[id].username + " [offline]"%></li>
              <% } %>
        <% } %>
       <% } %>


   <% if (a ===0){ %>
    <br>no admins currently online
  <% } %> 
    </ul>

<br>
<p>users currently online</p>
      <ul>
  <% var b = 0 %>
      <% for(var userid in users) { %>
       <% if (users[userid].isAdmin != true){ %>
          <li><%= users[userid].username %></li>
      <% b++ %>
  <% } %>
      <% } %>
  <% if (b ===0){ %>
    <li>no regular users currently online</li>
  <% } %>
    </ul> 

  </body>
</html>