<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/studentmain.css' />
  </head>
  <body>
<div id="one">
  <ul id="tabs">
    <li>
      <a href = "../class">
        My Classes
      </a>
    </li>
    <li>
      <a href = "../geneds">
        GenEd Requirements
      </a>
    </li>
   </ul>
</div>
<div id="two">
   <ul id="tabs2">
    <li>
      <a href = "../courses">
        Courses
      </a>
    </li>
    <li>
      <a href = "../logout">
        Logout
      </a>
    </li>
  </ul>
</div>

  <img src ="../images/inspirelogo.jpg" width =25% align ="middle"> 

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

  <p>hi user <%= username %>! </p>
  <a href="../user/online"> Here is a current list of online users</a>
  <br>

    <div><%= message %></div><br>
  
<a href="../logout"> click here to logout</a>
  </body>
</html>