<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/studentmain.css' />
  </head>
  <body>
<div id="one">
  <ul id="tabs">
    <li>
      <a href = "../class">
        My Classes
      </a>
    </li>
    <li>
      <a href = "../geneds">
        GenEd Requirements
      </a>
    </li>
   </ul>
</div>
<div id="two">
   <ul id="tabs2">
    <li>
      <a href = "../courses">
        Courses
      </a>
    </li>
    <li>
      <a href = "../logout">
        Logout
      </a>
    </li>
  </ul>
</div>

  <img src ="../images/inspirelogo.jpg" width =25% align ="middle"> 

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

  <p>hi user <%= username %>! </p>
  <a href="../user/online"> Here is a current list of online users</a>
  <br>

    <div><%= message %></div><br>
<!-- get individual users data to display later -->
<table class="schedule" align="center">
 <tbody>
  <tr align="center">
   <th>
     Monday
   </th>
   <th>
     Tuesday
   </th>
   <th>
     Wednesday
   </th>
   <th>
     Thursday
   </th>
   <th>
     Friday
   </th>
  </tr>
  <tr>
   <th>
     class1
   </th>
   <th>
     class4
   </th>
   <th>
     class1
   </th>
   <th>
     class4
   </th>
   <th>
     class1
   </th>
  </tr>
  <tr>
   <th>
     class2
   </th>
   <th>
     class5
   </th>
   <th>
     class2
   </th>
   <th>
     class5
   </th>
   <th>
     class2
   </th>
  </tr>
  <tr>
   <th>
     class3
   </th>
   <th>
   </th>
   <th>
     class3
   </th>
   <th>
   </th>
   <th>
     class3
   </th>
  </tr>
 </tbody>
</table>
  
<a href="../logout"> click here to logout</a>
  </body>
</html>